<% if @current_user != nil %>

  <h1>My Places</h1>
  
  <div class="mb-auto">
    <% for place in @places %>
      <% if place.user_id == @current_user.id %>
        <a href="/places/<%= place["id"] %>"><%= place["name"] %></a></div>
      
      <% end %>

    <% end %>
  
  
    
      <a href="/places/new">New place</a>
    
  </div>


<% else %>
  <h1> Please <a href="/login">Login</a> or <a href="/users/new">Sign Up</a> to view places and make entries! </h1>

<% end %>