<div class="container mt-4">
  <% if @current_user != nil %>


    <h1>My Places</h1>

    <a class="btn btn-outline-primary mt-4 mb-4" href="/places/new" role="button">New place</a>
    
    
    <% for place in @places %>
      
        <div class="row-md-4 mb-3">
          <h4> <a href="/places/<%= place["id"] %>"><%= place["name"] %></a> </h4>
        </div>
      
      

    <% end %>     
    


  <% else %>
    <h4> Please <a class="btn btn-outline-primary mt-4 mb-4" href="/login">Login</a> or <a class="btn btn-outline-primary mt-4 mb-4" href="/users/new">Sign Up</a> to view places and make entries! </h4>

  <% end %>
</div>